:root {
  /* Light theme colors */
  --primary-bg-color: #f0f0f0;
  --secondary-bg-color: #ffffff;
  --primary-text-color: #333;
  --secondary-text-color: #555;
  --border-color: #ddd;
  --button-bg-color: #007bff;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #0056b3;
  --task-bg-color: #f9f9f9;
}

[data-theme="dark"] {
  /* Dark theme colors */
  --primary-bg-color: #202020;
  --secondary-bg-color: #2a2a2a;
  --primary-text-color: #cccccc;
  --secondary-text-color: #aaaaaa;
  --border-color: #3a3a3a;
  --button-bg-color: #007bff;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #0056b3;
  --task-bg-color: #333333;
}

body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 5px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

#app {
  margin: auto;
  max-width: 1200px; /* Adjust based on your screen size */
  border: 1px solid var(--border-color);
  padding: 20px;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

.taskItem {
  background-color: var(--task-bg-color);
  border: 1px solid var(--border-color);
  margin-top: 5px;
  padding: 10px;
  color: var(--secondary-text-color);
}

.task-completed label {
  text-decoration: line-through;
}

/* Layout Adjustments */
.creation-section,
.sort-filter-section,
#charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-creation,
.note-creation {
  flex-basis: 48%; /* Adjust the width as necessary */
  margin-bottom: 20px; /* Space between rows */
}

#charts .chart {
  flex: 1 1 30%; /* Adjust the basis and the flexibility */
  min-width: 250px; /* Minimum width of the chart */
  margin-bottom: 20px;
}

/* Delete All Button - Positioned at the end of filter/sort section */
#deleteAllButton {
  background-color: #dc3545; /* Bootstrap danger color for deletion actions */
  color: white;
  margin-top: 20px;
}

#deleteAllButton:hover {
  background-color: #c82333;
}

/* Styling for the sorting/filtering sections */
.sort-filter-section {
  align-items: center;
}

/* Adjusting chart container */
.chart-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chart {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px); /* Three charts per row with spacing */
  min-width: 250px; /* Minimum width for smaller screens */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .task-creation,
  .note-creation,
  .chart {
    flex-basis: 100%; /* Full width on smaller screens */
  }
}
